body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
/* Prymary color */
.prymary-color{
    background-color: #E55473;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
}
/* Heading style start */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 120px;
    background-color: rgba(229, 84, 115, 0.10);
    height: 80vh;
}
/* Left header section */
.header-titel{
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
}
.header-btn{
    margin-top: 10px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
}
/* right header section */
.header-right{
    background-image: url('../Flower Asset/pngwing\ 10.png');
    height: 100vh;
    background-size: contain;
    width: 1000px;
    background-repeat: no-repeat;
    margin-top: 250px;
    margin-left: 70px;
}
/* Heading style  end */
/* main section start */
/* main section-1 start */

.section-1{
    align-items: center;
    text-align: center;
    margin: 100px 125px 0px 125px;
}
.section-1-titel{
    color: #272727;
    font-size: 26px;
    font-weight: 800;
}
.selection-1-desc{
    color: rgba(39, 39, 39, 0.60);
}
.section-1-container1{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-1-prymary{
    height: 400px;
    width: 425px;
    margin: 10px;
    border-radius: 45% 45% 0% 0%;
    text-align: center;
    text-decoration: underline;
    color: #272727;
}
.section-1-img{
    height: 300px;
    margin-top: 100px;    
}
.section-1-container1-childs1{
    background-color: rgba(167, 33, 98, 0.15);
}
.section-1-container1-childs2{
    background-color: rgba(5, 151, 160, 0.15);
}
.section-1-container1-childs3{
    background-color: rgba(71, 125, 17, 0.15);
}
/* main section-1 end */
/* support container */
.support-container{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 250px;
    width: 100%;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.support-img > img{
    height: 50px;
}
/* main section-2 start */
.section-2{
    margin-top: 50px;
    background-color: rgba(229, 84, 115, .10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}
.section-2-left-child{
    text-align: center;
    padding: 0px 70px 0px 250px;   
}
.section-2-titel{
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    color: #272727;
}
.section-2-desc{
    color: rgba(39, 39, 39, 0.60);
}
.off{
    color: #E55473;
}
.section-2-right{
    margin: 0px 100px 0px 0px;
}
.section-2-img{
    height: 300px;
    width: 250px;
    margin: 0px 150px 0px 0px;
}
/* main section-2 End */
/* main section-3 start */
.section-3{
    margin: 100px 125px;
    text-align: center;
}
.section-3-titel{
    font-size: 25px;
    font-weight: 800;
    color: #272727;
}
.section-3-desc{
    color: rgba(39, 39, 39, 0.60);
}
.section-3-parents{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-top: 50px;
    margin-bottom: 100px;
}
.prymary-childs{
    height: 250px;
    width: 230px;
    border: none;
}
.selection-3-img{
    height: 250px;
    width: 230px;
}
.subscribe-container{
    height: 300px;
    width: 100%;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}
.subscribe-child-container{
    padding: 50px;
    text-align: center;
}
.subscribe-titel{
    color: #272727;
}
.subscribe-btn{
    margin-left: 10px;
}
.input{
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;
    width: 350px;
    border-radius: 7px;
    border: none;
    color: rgba(39, 39, 39, 0.60);
}
.subscribe-desc{
    color: rgba(39, 39, 39, 0.60);
}
/* main section-3 end */
/* Footer start hear */
footer{
    background-color: #000;
    height: 300px;
}
.footer{
    align-items: center;
    text-align: center;
    padding: 50px;
    color: white;
}
.footer-coppy{
    color: rgba(255, 255, 255, 0.40);
}
