body{
    margin: 0px;
    padding: 0px;
}
/* Prymary color */
.prymary-color{
    background-color: #E55473;
    color: #fff;
    border-radius: 8px;
    border: none;
}
/* Heading style start */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 120px;
    font-family: 'Lato', sans-serif;
    background-color: rgba(229, 84, 115, 0.10);
    height: 80vh;
}
/* Left header section */
.header-titel{
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
}
.header-btn{
    margin-top: 10px;
    padding: 10px 20px;
}
.header-description{
    color: rgb(198, 187, 187);
}
/* right header section */
.header-right{
    background-image: url('../Flower Asset/pngwing\ 10.png');
    height: 100vh;
    background-size: contain;
    width: 1000px;
    background-repeat: no-repeat;
    margin-top: 250px;
    margin-left: 70px;
}
/* Heading style  end */
